.main-content__section-products {

    width: 100%;

    .section-products__container-title {

        display: flex;
        width: 1277px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        .container-title__line {

            display: inline-block;
            width: 30%;
            size: 1;
            color: #DEDEDE;
        }


        .container-title__title {

            color: $pink;
            font-size: 3.0rem;
            font-weight: 700;
            text-align: center;
        }

    }

    .section-products__label-see-all {

        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        margin-top: 2.0rem;
        color: #3F3F40;
    }

    
}

.main-content__section-products:last-child {

    margin-bottom: 10.0rem;
}

