.main-footer {
    
    width: 100%;
    height: 396px;
    background-color: #2A2A2A;

    .main-footer__container-main-footer {

        width: 1280px;
        height: 325px;
        margin: 0 auto;
    }
}