.main-content__section-navbar {

    width: 1277px;
    margin: 3.0rem auto;    
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .section-navbar__selection-category {

        height: 158px;

        .selection-category__category-box {

            width: 128px;
            height: 128px;
            background-color: #F4F4F4;
            border-radius: 1.0rem;
            box-shadow: 0 .4rem 1.1rem #00000038;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            transition: .3s linear;

            &:hover {
                transform:translateY(-.5rem);
            }

        }

        .selection-category__label {

            text-align: center;
            margin-top: 2.0rem;
            font-size: 1.6rem;
        }

        .category-box--selected {

            background-color: #FFF;
        }

        .label--selected {
            color: $pink;
        }
    }
}