.container-sale__container-sale-items {

    width: 1266px;
    height: 585px;
    display: flex;
    align-items: center;
    padding: 2.0rem;    
    overflow-x: hidden;
    

    .container-sale-items__container-sliders {

        
        height: 545px;     
        width: 3070px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 5.0rem;               
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;

        .container-sliders__slider {

            width: 270px;
            height: 500px;
            background-color: #FFF;
            border-radius: 1.0rem;
            box-shadow: 0 .3rem 1.9rem #0000006a;
            display: flex;
            flex-direction: column;
            padding: 0rem 1.0rem;

            .slider__img {

                margin-top: 2.5rem;

            }

            .slider__parag {

                font-size: 1.5rem;
                font-weight: 300;
                color: #3F3F40;
                line-height: 2.0rem;
                margin-bottom: 1.3rem;
                margin-top: 1.0rem;

            }

            .slider__previous-value {

                font-weight: 400;
                font-size: 1.6rem;
                color: #808080;
                text-decoration: line-through;
                margin-bottom: 1.0rem;
            }

            .slider__current-value {

                color: #3F3F40;
                font-size: 2.0rem;
                font-weight: 700;
                margin-bottom: 1.0rem;
            }

            .slider__value-in-installment {

                font-weight: 400;
                font-size: 1.2rem;
                color: #3F3F40;

            }

            .slider__label {

                font-weight: 400;
                color: $pink;
                font-size: 1.2rem;
                margin: 1.5rem 0rem;

            }

            .slider__button {

                max-width: 245px;
                height: 44px;
                background-color: $pink;
                color: #FFF;
                border: none;
                display: inline-block;
                border-radius: .4rem;
                font-size: 1.4rem;
                font-weight: 700;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        

        .container-sliders__slider:nth-child(1) {
            margin-left: 3rem;
        }

        .container-sliders__slider:last-child {
            margin-right: 3rem;
        }
    }

    
    
}

