.brands-section__container-brands {

    display: flex;
    justify-content: space-between;


    .container-brands__brands {

        width: 211px;
        height: 211px;
        border-radius: 50%;
        box-shadow: 0 .7rem 2.0rem #00000032;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}