.section-products__container-partners {

    width: 1266px;
    height: 370px;
    margin: 3.5rem auto;
    margin-bottom: 6.0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}