.section-products__categories {

    width: 1277px;
    height: 4.0rem;
    border: .1rem solid #BDBDBD;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 1.4rem;

    .categories__selection-items {

        text-transform: uppercase;
        width: 212.8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        color: #3B3B3B;
        border-left: .1rem solid #BDBDBD;
        height: 100%;
        cursor: pointer;
    }

    .categories__selection-items:first-child {
        border: none;
    }

    .selection-items--selected {
        color: $pink;
        font-weight: 700;
    }
}