.section-products__container-sale {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;

    .container-sale__buttons {

        cursor: pointer;

    }
}