.main-footer {
  width: 100%;
  height: 396px;
  background-color: #2a2a2a;
}

.main-footer__container-main-footer {
  width: 1280px;
  height: 325px;
  margin: 0 auto;
}

.container-main-footer__container-information {
  display: flex;
  height: 325px;
  display: flex;
  justify-content: space-between;
}



