/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.main-header {
  width: 100%;
  height: 14.4rem;
}

.main-header__container-header {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.main-footer {
  width: 100%;
  height: 396px;
  background-color: #2a2a2a;
}

.main-footer__container-main-footer {
  width: 1280px;
  height: 325px;
  margin: 0 auto;
}

.container-main-footer__container-information {
  display: flex;
  height: 325px;
  display: flex;
  justify-content: space-between;
}

.main-content__section-products {
  width: 100%;
}

.main-content__section-products:last-child {
  margin-bottom: 10rem;
}

.section-products__container-title {
  display: flex;
  width: 1277px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.container-title__line {
  display: inline-block;
  width: 30%;
  color: #dedede;
}

.container-title__title {
  color: #F71963;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.section-products__label-see-all {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  color: #3f3f40;
}

.section-products__categories {
  width: 1277px;
  height: 4rem;
  border: 0.1rem solid #bdbdbd;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-top: 1.4rem;
}

.categories__selection-items {
  text-transform: uppercase;
  width: 212.8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #3b3b3b;
  border-left: 0.1rem solid #bdbdbd;
  height: 100%;
  cursor: pointer;
}

.categories__selection-items:first-child {
  border: none;
}

.selection-items--selected {
  color: #F71963;
  font-weight: 700;
}

.popup {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6823529412);
  left: 0;
  top: 0;
  z-index: 999;
  font-family: "Lato", sans-serif;
}

.popup__container-popup {
  z-index: 9999;
  height: 300px;
  position: fixed;
  width: 769px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 16rem auto;
}

.container-popup__container-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-popup__product-information {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-right: 9rem;
  position: relative;
}

.product-information__label,
.product-information__value {
  text-transform: uppercase;
}

.product-information__label,
.product-information__value,
.product-information__link {
  font-size: 2rem;
  color: #041e50;
  margin-bottom: 1.5rem;
  width: 100%;
}

.product-information__label,
.product-information__description,
.product-information__link {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.product-information__value {
  font-weight: 900;
}

.product-information__description {
  font-size: 1rem;
  color: #222222;
  line-height: 1.5rem;
  width: 100%;
}

.product-information__link {
  font-size: 1.2rem;
}

.product-information__container-button-close {
  position: relative;
  right: -20rem;
  top: -4rem;
  height: 2.5rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-information__button-close {
  background-color: #707070;
  height: 0.2rem;
  width: 2rem;
}

.product-information__button-close:nth-child(1) {
  transform: translate(10px, 0px) rotate(50deg);
}

.product-information__button-close:nth-child(2) {
  transform: translate(-10px, 0px) rotate(-40deg);
}

.container-header__main-navbar {
  width: 100%;
  height: 4rem;
  box-shadow: 0px 8px 16px rgba(57, 48, 19, 0.1764705882);
}

.main-navbar__container-nav {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.container-nav__links {
  display: flex;
  color: #9f9f9f;
  font-weight: 600;
  text-transform: uppercase;
}

.container-nav__links:last-child {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.container-nav__links--selected {
  color: #F71963;
}

.container-header__container-search {
  width: 100%;
  height: 72px;
  border-bottom: 0.1rem solid #f0f0f0;
  border-top: 0.1rem solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-search__logo {
  max-width: 139px;
  max-height: 51px;
}

.container-search__container-user {
  display: flex;
  gap: 2rem;
}

.container-user__icons {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}

.container-search__container-input {
  height: 4.8rem;
  width: 657px;
  display: flex;
  justify-content: space-between;
  background-color: #F6F5F2;
  align-items: center;
  border-radius: 1rem;
  padding: 0rem 2rem;
}

.container-input__input-search {
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 500;
}

.container-input__icon {
  cursor: pointer;
}

.container-header__container-benefits {
  display: flex;
  width: 100%;
  height: 3.2rem;
  align-items: center;
  justify-content: space-evenly;
}

.container-benefits__benefits {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.benefits__icons {
  width: 2rem;
  height: 2rem;
}

.benefits__benefit-tag {
  font-size: 1.2rem;
  font-weight: 500;
  color: #9f9f9f;
}
.benefits__benefit-tag span {
  color: #F71963;
  font-weight: 600;
}

.section-products__container-sale {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
}

.container-sale__buttons {
  cursor: pointer;
}

.container-sale__container-sale-items {
  width: 1266px;
  height: 585px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem;
  overflow-x: hidden;
}

.container-sale-items__container-sliders {
  height: 545px;
  width: 3070px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.container-sliders__slider {
  width: 270px;
  height: 500px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1.9rem rgba(0, 0, 0, 0.4156862745);
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
}

.slider__img {
  margin-top: 2.5rem;
}

.slider__parag {
  font-size: 1.5rem;
  font-weight: 300;
  color: #3f3f40;
  line-height: 2rem;
  margin-bottom: 1.3rem;
  margin-top: 1rem;
}

.slider__previous-value {
  font-weight: 400;
  font-size: 1.6rem;
  color: #808080;
  text-decoration: line-through;
  margin-bottom: 1rem;
}

.slider__current-value {
  color: #3f3f40;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.slider__value-in-installment {
  font-weight: 400;
  font-size: 1.2rem;
  color: #3f3f40;
}

.slider__label {
  font-weight: 400;
  color: #F71963;
  font-size: 1.2rem;
  margin: 1.5rem 0rem;
}

.slider__button {
  max-width: 245px;
  height: 44px;
  background-color: #F71963;
  color: #fff;
  border: none;
  display: inline-block;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.container-sliders__slider:nth-child(1) {
  margin-left: 3rem;
}

.container-sliders__slider:last-child {
  margin-right: 3rem;
}

.section-products__container-partners {
  width: 1266px;
  height: 370px;
  margin: 3.5rem auto;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-partners__information-box {
  width: 574px;
  height: 350px;
  background: url("../../images/Mask Group.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 4rem;
  position: relative;
  overflow: hidden;
}

.information-box__shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
  left: 0;
}

.information-box__title {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.5rem;
}

.information-box__label {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  line-height: 2.3rem;
}

.information-box__button {
  border-radius: 1rem;
  width: 131px;
  height: 48px;
  background-color: #F71963;
  color: #fff;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 4rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
}

.information-box__title,
.information-box__label,
.information-box__button {
  z-index: 1;
}

.main-content__section-banner {
  width: 100%;
  height: 395px;
  background: url("../../images/Rectangle 250.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-banner__wallpaper {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
}

.section-banner__container-banner {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.container-banner__label {
  font-size: 4.8rem;
  line-height: 7rem;
}

.container-banner__label-discount {
  font-size: 3.6rem;
  margin-top: 1rem;
}

.container-banner__label,
.container-banner__label-discount {
  color: white;
  font-weight: 600;
}

.container-banner__button {
  background-color: #F71963;
  border: none;
  border-radius: 0.5rem;
  width: 227px;
  height: 60px;
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 4rem;
}

.main-content__brands-section {
  width: 1250px;
  height: 331px;
  margin: 13rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brands-section__title {
  font-size: 3rem;
  font-weight: 700;
  color: #F71963;
  text-align: center;
}

.brands-section__container-brands {
  display: flex;
  justify-content: space-between;
}

.container-brands__brands {
  width: 211px;
  height: 211px;
  border-radius: 50%;
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.1960784314);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content__section-navbar {
  width: 1277px;
  margin: 3rem auto;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-navbar__selection-category {
  height: 158px;
}

.selection-category__category-box {
  width: 128px;
  height: 128px;
  background-color: #f4f4f4;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1.1rem rgba(0, 0, 0, 0.2196078431);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s linear;
}
.selection-category__category-box:hover {
  transform: translateY(-0.5rem);
}

.selection-category__label {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.category-box--selected {
  background-color: #fff;
}

.label--selected {
  color: #F71963;
}

.main-footer__bottom-footer {
  width: 100%;
  height: 7rem;
  border-top: 2px solid #fff;
}

.bottom-footer__container-bottom-footer {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__parag {
  font-size: 1rem;
  font-weight: 40;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.5rem;
}

.container-bottom-footer__companies {
  display: flex;
  gap: 4rem;
}

.container-information__container-receive-offers {
  display: flex;
  align-items: center;
}

.container-receive-offers__receive-offers {
  height: 260px;
  width: 380px;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.receive-offers__label {
  text-transform: uppercase;
}

.receive-offers__label:nth-child(1n) {
  font-size: 1.8rem;
  font-weight: 300;
  color: #3f3f40;
}

.receive-offers__label:nth-child(2n) {
  font-size: 2.1rem;
  color: #3f3f40;
  font-weight: 700;
}

.receive-offers__parag {
  font-size: 1.2rem;
  font-weight: 300;
  color: #3f3f40;
  text-align: center;
  line-height: 2rem;
  padding: 0 3rem;
}

.receive-offers__container-input {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.container-input__input {
  height: 100%;
  width: 230px;
  font-size: 1.2rem;
  color: #c0c0c0;
  border: 0.1rem solid #2a2a2a;
  border-radius: 0.4rem;
  outline: none;
  padding: 1rem 1.5rem;
}

.container-input__button {
  background-color: #F71963;
  width: 6.2rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.container-input__input::placeholder,
.container-input__button {
  text-transform: uppercase;
}

.container-information__about-the-company {
  display: flex;
  width: 60%;
  padding: 2rem 0;
  justify-content: space-around;
}

.about-us__title,
.miscellaneous-information__title,
.payment-methods__title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 3.5rem;
  margin-top: 4rem;
}

.miscellaneous-information__title,
.payment-methods__title {
  text-transform: uppercase;
}

.about-us__list-about-us,
.miscellaneous-information__list-miscellaneous-information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-about-us__items,
.list-miscellaneous-information__items {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.about-the-company__about-us,
.about-the-company__miscellaneous-information,
.about-the-company__payment-methods {
  height: 100%;
}

.payment-methods__list-payment-methods {
  display: flex;
  width: 195px;
  height: 193px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.about-the-company__about-us {
  position: relative;
}

.about-us__icons-nets {
  position: absolute;
  bottom: 0px;
  display: flex;
  gap: 3.5rem;
}

.icons-nets__icon {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
