.about-the-company__payment-methods {


    

    .payment-methods__list-payment-methods {

        display: flex;
        width: 195px;
        height: 193px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;


        
    }
}